@charset "utf8";

table{
    border-collapse: collapse;
    border-style: double;
    border-width: 8px;
    border-color: rgba(211, 211, 211, 0.61);
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.418);
    margin:auto;
}

th{
    border: 2px solid black;
    font-family: cursive;
    font-style: italic;
    font-weight: lighter;
    font-size: 20px;
    padding: 20px;
    background-color: rgba(0, 128, 0, 0.568);
    text-align: center;
}

td{
    border: 2px solid black;
    font-family: cursive;
    font-weight: lighter;
    color: rgb(56, 55, 55);
    font-size: 20px;
    padding: 20px;
    background-color: rgba(0, 128, 0, 0.295);
    text-align: center;
}

button{
    font-size: 15px;
    width: 100px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.514);
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(255, 0, 0, 0.205);
    color: rgb(73, 72, 72);
}