{% extends "projeto_eventos/base_logado.html" %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gradient-to-b from-pink-100 via-purple-100 to-blue-200">
    <div class="w-full max-w-2xl bg-white border-2 border-blue-300 p-8 rounded-lg shadow-lg">
        <h2 class="text-4xl font-semibold leading-7 text-gray-900 font-serif text-center">Perfil de {{ usuario.username }}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="space-y-8">
                <div class="bg-gray-100 p-4 rounded-md shadow">
                    <label for="id_first_name" class="block text-xl font-serif leading-6 text-gray-900">Primeiro Nome</label>
                    <div class="mt-2">
                        {{ form.first_name }}
                    </div>
                </div>
                <div class="bg-gray-100 p-4 rounded-md shadow">
                    <label for="id_last_name" class="block text-xl font-serif leading-6 text-gray-900">Último Nome</label>
                    <div class="mt-2">
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="bg-gray-100 p-4 rounded-md shadow">
                    <label for="id_email" class="block text-xl font-serif leading-6 text-gray-900">Email</label>
                    <div class="mt-2">
                        {{ form.email }}
                    </div>
                </div>
                <div class="bg-gray-100 p-4 rounded-md shadow">
                    <label for="id_username" class="block text-xl font-serif leading-6 text-gray-900">Nome de Usuário</label>
                    <div class="mt-2">
                        {{ form.username }}
                    </div>
                </div>
                <div class="bg-gray-100 p-4 rounded-md shadow">
                    <label for="id_ddd" class="block text-xl font-serif leading-6 text-gray-900">DDD</label>
                    <div class="mt-2">
                        {{ form.ddd }}
                    </div>
                </div>
                <div class="bg-gray-100 p-4 rounded-md shadow">
                    <label for="id_telefone" class="block text-xl font-serif leading-6 text-gray-900">Telefone</label>
                    <div class="mt-2">
                        {{ form.telefone }}
                    </div>
                </div>
                <div class="bg-gray-100 p-4 rounded-md shadow">
                    <label for="id_nickname" class="block text-xl font-serif leading-6 text-gray-900">Nickname</label>
                    <div class="mt-10">
                        {{ form.nickname }}
                    </div>
                </div>
                <div class="bg-gray-100 p-4 rounded-md shadow">
                    <label for="id_sobre_voce" class="block text-xl font-serif leading-6 text-gray-900">Sobre Você</label>
                    <div class="mt-2">
                        {{ form.sobre_voce }}
                    </div>
                </div>
                <div class="bg-gray-100 p-4 rounded-md shadow">
                    <label for="id_foto" class="block text-xl font-serif leading-6 text-gray-900">Foto de Perfil</label>
                    <div class="mt-2">
                        {{ form.foto }}
                    </div>
                </div>
                <div class="bg-gray-100 p-4 rounded-md shadow">
                    <label for="id_foto_de_capa" class="block text-xl font-serif leading-6 text-gray-900">Foto de Capa</label>
                    <div class="mt-2">
                        {{ form.foto_de_capa }}
                    </div>
                </div>
                <div class="flex justify-center mt-6">
                    <button type="submit" class="bg-gradient-to-r from-pink-100 via-purple-200 to-blue-300 bg-opacity-30 text-black text-xl font-serif font-bold hover:text-white py-4 px-6 rounded-full shadow-lg transition duration-300 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 hover:scale-110 focus:scale-110 border border-transparent hover:border-blue-500 focus:border-blue-500">Atualizar Perfil</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}