{% extends 'projeto_eventos/base_logado.html' %}

{% block content %}
    <div class="m-8 p-8">
        <div class="bg-gradient-to-b from-pink-100 via-purple-100 to-blue-200 border-2 border-blue-300 rounded-lg max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <div class="overflow-hidden shadow-sm sm:rounded-lg">
                <div class="m-16 p-16">
                    <h2 class="text-4xl font-semibold leading-7 text-gray-900 font-serif text-center mb-8">Atualizar Evento</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="space-y-4">
                            <div class="mt-5">
                                <label for="id_titulo" class="block text-2xl font-serif leading-6 text-gray-900">Título</label>
                                {{ form.titulo }}
                            </div>
                            <div class="mt-5">
                                <label for="id_descricao" class="block text-2xl font-serif leading-6 text-gray-900">Descrição</label>
                                {{ form.descricao }}
                            </div>
                            <div class="mt-5">
                                <label for="id_rua" class="block text-2xl font-serif leading-6 text-gray-900">Rua</label>
                                {{ form.rua }}
                            </div>
                            <div class="mt-5">
                                <label for="id_bairro" class="block text-2xl font-serif leading-6 text-gray-900">Bairro</label>
                                {{ form.bairro }}
                            </div>
                            <div class="mt-5">
                                <label for="id_numero" class="block text-2xl font-serif leading-6 text-gray-900">Número</label>
                                {{ form.numero }}
                            </div>
                            <div class="mt-5">
                                <label for="id_cidade" class="block text-2xl font-serif leading-6 text-gray-900">Cidade</label>
                                {{ form.cidade }}
                            </div>
                            <div class="mt-5">
                                <label for="id_estado" class="block text-2xl font-serif leading-6 text-gray-900">Estado</label>
                                {{ form.estado }}
                            </div>
                            <div class="mt-5">
                                <label for="id_pais" class="block text-2xl font-serif leading-6 text-gray-900">País</label>
                                {{ form.pais }}
                            </div>
                            <div class="mt-5">
                                <label for="id_data" class="block text-2xl font-serif leading-6 text-gray-900">Data</label>
                                {{ form.data }}
                            </div>
                            <div class="mt-5">
                                <label for="id_imagem" class="block text-2xl font-serif leading-6 text-gray-900">Imagem</label>
                                {{ form.imagem }}
                            </div>
                            <div class="mt-5">
                                <label for="id_categoria" class="block text-2xl font-serif leading-6 text-gray-900">Categoria</label>
                                {{ form.categoria }}
                            </div>
                        </div>
                        <div class="flex justify-center mt-6">
                            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                                Atualizar Evento
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}