{% extends 'projeto_eventos/base_logado.html' %}

{% block content %}
    <div class="m-16 p-16 bg-gradient-to-b from-pink-100 via-purple-100 to-blue-200 border-2 border-blue-300 rounded-lg">
        <div class="max-w-4xl mx-auto mt-8 px-4">
            <h2 class="text-4xl font-serif font-semibold mb-4">Cadastro de Evento</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="id_titulo" class="block text-2xl font-serif font-bold mb-2">Título</label>
                    {{ form.titulo }}
                </div>
                <div class="mb-4">
                    <label for="id_descricao" class="block text-2xl font-serif font-bold mb-2">Descrição</label>
                    {{ form.descricao }}
                </div>
                <div class="mb-4">
                    <label for="id_rua" class="block text-2xl font-serif font-bold mb-2">Rua</label>
                    {{ form.rua }}
                </div>
                <div class="mb-4">
                    <label for="id_bairro" class="block text-2xl font-serif font-bold mb-2">Bairro</label>
                    {{ form.bairro }}
                </div>
                <div class="mb-4">
                    <label for="id_numero" class="block text-2xl font-serif font-bold mb-2">Número</label>
                    {{ form.numero }}
                </div>
                <div class="mb-4">
                    <label for="id_cidade" class="block text-2xl font-serif font-bold mb-2">Cidade</label>
                    {{ form.cidade }}
                </div>
                <div class="mb-4">
                    <label for="id_estado" class="block text-2xl font-serif font-bold mb-2">Estado</label>
                    {{ form.estado }}
                </div>
                <div class="mb-4">
                    <label for="id_pais" class="block text-2xl font-serif font-bold mb-2">País</label>
                    {{ form.pais }}
                </div>
                <div class="mb-4">
                    <label for="id_data" class="block text-2xl font-serif font-bold mb-2">Data</label>
                    {{ form.data }}
                </div>
                <div class="mb-4">
                    <label for="id_imagem" class="block text-2xl font-serif font-bold mb-2">Imagem</label>
                    {{ form.imagem }}
                </div>
                <div class="mb-4">
                    <label for="id_categoria" class="block text-2xl font-serif font-bold mb-2">Categoria</label>
                    {{ form.categoria }}
                </div>
                <div class="flex items-center justify-center mb-6">
                    <div class="col-span-full mt-2">
                        <div class="mt-12">
                            <button type="submit" class="bg-gradient-to-r from-pink-100 via-purple-200 to-blue-300 bg-opacity-30 text-black text-xl font-serif font-bold hover:text-white py-4 px-6 rounded-full shadow-lg transition duration-300 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 hover:scale-110 focus:scale-110 border border-transparent hover:border-blue-500 focus:border-blue-500">Salvar evento</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="text-center bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 border-2 border-purple-600 py-6 px-8 rounded-lg shadow-lg">
        <h1 class="text-4xl font-serif text-white">
            Meus eventos
        </h1>
    </div>
    <div class="bg-gradient-to-r from-pink-100 via-purple-200 to-blue-300 bg-opacity-30 grid grid-cols-3 gap-4 m-16 p-16 border border-gray-300 rounded-lg">
        {% for evento in eventos %}
            <div class="flex flex-col items-center m-4 p-4 mt-10">
                <a href="{% url 'editar_evento' editar_id=evento.id %}">
                    <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-8 px-16 rounded-lg relativetransition duration-300 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 hover:scale-110 focus:scale-110 border-2 border-blue-300 hover:border-blue-500">
                        <p class="text-4xl font-serif text-black mt-6">{{ evento.titulo }}</p>
                        <p class="text-xl font-serif mt-10">
                            <span class="text-green-300 text-2xl">Organizador:</span>
                            <span>{{ evento.usuario.profile.nickname }}</span>
                        </p>
                        <p class="text-xl font-serif mt-6">
                            <span class="text-green-300 text-2xl">Categoria:</span>
                            <span>{{ evento.categoria.nome }}</span>
                        </p>
                        <p class="text-2xl font-serif mt-6 text-red-200">
                            {{ evento.data }}
                        </p>
                        {% if evento.imagem %}
                            <div class="flex items-center justify-center h-64 mt-8">
                                <img src="{{ evento.imagem.url }}" alt="{{ evento.titulo }}" class="object-cover w-full h-full rounded-full mb-2 border border-gray-800">
                            </div>
                        {% endif %}
                    </button>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}