<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Produto</title>
</head>
<body>
    <h1>{{ produto.produto }} -- R$ {{ produto.preco }}</h1>

    <h2>Atualizar Produto:</h2>

    <form action="{% url 'atualizar_produto' produto.pk %}" method="POST">
        {% csrf_token %}
        <label for="produto">Nome do Produto</label>
        <input type="text" name="produto" value="{{ produto.produto }}">
        <label for="preco">Preço do Produto</label>
        <input type="text" name="preco" value="{{ produto.preco }}">
        <button type="submit">Atualizar</button>
    </form>
</body> 
</html>