{% extends 'base.html' %}

{% block 'title' %}START-SE{% endblock 'title' %}

{% block 'head' %}

{% endblock 'head' %}

{% block 'body' %}


    <form action="{% url 'cadastro' %}" method="POST" class="
        flex flex-col
        justify-center
        font-semibold
        text-center
        sm:w-4/5 md:w-3/4 lg:w-1/2 p-10 sm:p-12 md:p-20 lg:p-32 xl:p-20
        rounded-lg
        bg-gray-100
        border
        border-gray-300
        shadow-xl
        ">
        {% csrf_token %}
        <h1 class="
        font-normal
        text-5xl text-gray-800
        p-2"><span class="text-blue-300">START-SE</span> Cadastra-se</h1>
        <label for="name" class="
        text-xl
        mt-8
        text-left
        text-black
        ">Nome de usuário</label>
        <input type="text" name="username" placeholder="Digite seu nome de usuário" class="
        border-2 border-gray-600 rounded-lg
        mt-2
        p-2
        font-light
        ">
        <label for="name" class="
        text-xl
        mt-2
        text-left
        text-black
        ">Senha</label>
        <input type="text" name="senha" placeholder="Digite sua senha" class="
        border-2 border-gray-600 rounded-lg
        mt-2
        p-2
        font-light
        ">
        <label for="name" class="
        text-xl
        mt-2
        text-left
        text-black
        ">Confirmar senha</label>
        <input type="text" name="confirmar_senha" placeholder="Confirme sua senha" class="
        border-2 border-gray-600 rounded-lg
        mt-2
        p-2
        font-light
        ">
        {% if messages %}
            {% for mensagem in messages %}
                <p class="
                mt-6 p-2
                bg-red-200
                border border-red-600 rounded-xl
                text-lg text-gray-800
                
                ">{{ mensagem }}</p>
            {% endfor %}
        {% endif %}
        <button class="
        mt-5 p-4
        border border-black rounded-lg
        bg-blue-500
        font-bold
        text-black
        hover:bg-blue-300
        m-auto
        w-2/3
        shadow-lg
        hover:text-xl
        hover:pr-6 
        hover:pl-6
        transition-all duration-300
        ">Cadastrar</button>
        <a class="
        mt-4
        text-blue-900
        underline
        text-md
        hover:text-blue-400
        hover:no-underline
        " href="">Já possue uma conta?</a>
    </form>


{% endblock 'body' %}