{% extends 'projeto_eventos/base_logado.html' %}

{% block content %}
    <div class="text-center bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 border-2 border-purple-600 py-6 px-8 rounded-lg shadow-lg">
        <h1 class="text-4xl font-serif text-white">
            Eventos da Categoria: {{ categoria.nome }}
        </h1>
    </div>
    <div class="bg-gradient-to-r from-pink-100 via-purple-200 to-blue-300 bg-opacity-30 grid grid-cols-3 gap-4 m-16 p-16 border border-gray-300 rounded-lg">
        {% for evento in eventos %}
            <div class="flex flex-col items-center m-4 p-4 mt-10">
                <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-8 px-16 rounded-lg relativetransition duration-300 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 hover:scale-110 focus:scale-110 border-2 border-blue-300 hover:border-blue-500 focus:border-blue-500">
                    <p class="text-4xl font-serif text-black mt-6">{{ evento.titulo }}</p>
                    <p class="text-xl font-serif mt-10">
                        <span class="text-green-300 text-2xl">Organizador:</span>
                        <span>{{ evento.organizador.nick }}</span>
                    </p>
                    <p class="text-xl font-serif mt-6">
                        <span class="text-green-300 text-2xl">Categoria:</span>
                        <span>{{ evento.categoria.nome }}</span>
                    </p>
                    <p class="text-2xl font-serif mt-6 text-red-200">
                        {{ evento.data }}
                    </p>
                    {% if evento.imagem %}
                        <div class="flex items-center justify-center h-64 mt-8">
                            <img src="{{ evento.imagem.url }}" alt="{{ evento.titulo }}" class="object-cover w-full h-full rounded-full mb-2 border border-gray-800">
                        </div>
                    {% endif %}
                </button>
            </div>
        {% endfor %}
    </div>
{% endblock content %}