{% extends 'projeto_eventos/base_deslogado.html' %}

{% block content %}

    <div class="m-4 p-8 text-center">
        <div class="flex-1 p-8">
            <h1 class="text-3xl font-bold mb-4">Sobre Nós</h1>
            <p class="mb-4">Somos uma empresa dedicada à organização de eventos memoráveis e únicos. Oferecemos serviços de planejamento, coordenação e execução para uma variedade de eventos, desde casamentos e festas privadas até conferências corporativas e lançamentos de produtos.</p>
            <p class="mb-4">Nosso compromisso é superar as expectativas de nossos clientes, proporcionando soluções criativas e personalizadas que transformam ideias em realidade. Trabalhamos com uma equipe talentosa e parceiros confiáveis para garantir que cada detalhe seja perfeito, do início ao fim.</p>
            <p class="mb-4">Se você está procurando um serviço de eventos profissional e dedicado, você está no lugar certo. Entre em contato conosco para saber como podemos ajudar a tornar seu próximo evento um sucesso inesquecível.</p>
            <h2 class="text-2xl font-bold mt-8 mb-2">Missão</h2>
            <p class="mb-4">Nossa missão é criar experiências excepcionais, conectando pessoas através de eventos significativos e bem planejados.</p>
            <h2 class="text-2xl font-bold mt-8 mb-2">Visão</h2>
            <p class="mb-4">Ser reconhecido como líderes no setor de eventos, oferecendo qualidade, criatividade e comprometimento em tudo o que fazemos.</p>
            <h2 class="text-2xl font-bold mt-8 mb-2">Valores</h2>
            <ul class="list-disc pl-6">
                <li>Excelência: Buscamos sempre a excelência em cada detalhe.</li>
                <li>Inovação: Promovemos a inovação e a criatividade em nossos projetos.</li>
                <li>Integridade: Agimos com ética e transparência em todas as nossas relações.</li>
                <li>Compromisso: Estamos comprometidos em superar as expectativas de nossos clientes e parceiros.</li>
            </ul>
        </div>
    </div>

{% endblock %}